footer {
  width: 100%;
  padding: 45px 0px 38px 0px;
  position: fixed;
  bottom: 0;
  margin-top: 30px;
  border-top: 2px solid rgb(196, 196, 196);
}

.footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 30px;
  border-bottom: 2px solid rgb(196, 196, 196);
}

.footer_grid h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.footer_grid a {
  font-size: 14px;
  color: black;
}

.footer_grid p {
  margin: 7px 0px;
}

.footer_grid i {
  font-size: 18px;
  margin-right: 8px;
}

.footer_sosmed {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

li {
  list-style: none;
}

.copyright {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: rgb(50, 50, 50);
}